#first {
  border: groove 2px red;
  text-align: center;
  text-decoration-line: line-through;
  text-decoration-color: blue;
  text-decoration-style: dashed;
  text-transform: capitalize;
}

#t1,
th,
tr,
td {
  border: solid 2px black;
  border-collapse: collapse;
}

#test-img {
  position: absolute;
  top: 50vh;
  right: 50vw;
  left: 50vw;
  left: 50px;
  z-index: -1;
}
